# FVTT runtime in separate repo
/config/fvtt/

# Ignore static website stuff
# (consider moving config/www and config/wiki under config/site/www and config/site/wiki and managing w/git)
/config/www/**
!/config/www/README.md

# certs
/config/certbot/**
!/config/certbot/README.md
/config/nginx/ssl/**
/config/nginx/ssl/dhparams.pem
!/config/nginx/ssl/openssl.conf.template

# oauth authorized email list, custom logos, etc (keep default logo)
/config/oauth/**
!/config/oauth/vtt-512.png

# ignore wikijs database
/config/wiki/**
!/config/wiki/README.md
!/config/wiki/data/
/config/wiki/data/**
!/config/wiki/data/README.md

# logs
/logs/**
!/logs/nginx/
/logs/nginx/**
!/logs/nginx/README.md

# FVTT server installs
/server/**
!/server/README.md

# local mounts (these are backed up or downloaded separately)
/mount/**
!/mount/README.md

# Ignore aux config
/**/*5et
/**/*.5et.*
/**/5et.*

# Ignore .env file (persist to .env.template)
/.env

# Misc ignores
*.swp
*~
.DS_Store
**/._*
**/local/
